external/WSDL/pocho.wsdl.WSDLApi.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="https://tempuri.org" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" targetNamespace="https://tempuri.org">
    <types>
        <s:schema elementFormDefault="qualified" targetNamespace="https://tempuri.org">
            <s:element name="Teste">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" name="pTeste" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="TesteResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element name="TesteResult" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </types>
    <message name="TesteSoapIn">
        <part name="parameters" element="s0:Teste"/>
    </message>
    <message name="TesteSoapOut">
        <part name="parameters" element="s0:TesteResponse"/>
    </message>
    <portType name="WSDLApiSoap">
        <operation name="Teste">
            <input message="s0:TesteSoapIn"/>
            <output message="s0:TesteSoapOut"/>
        </operation>
    </portType>
    <binding name="WSDLApiSoap" type="s0:WSDLApiSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="Teste">
            <soap:operation soapAction="https://tempuri.org/pocho.wsdl.WSDLApi.Teste" style="document"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="WSDLApi">
        <port name="WSDLApiSoap" binding="s0:WSDLApiSoap">
            <soap:address location="http://localhost:56773/csp/healthshare/pocho/services/pocho.wsdl.WSDLApi.cls"/>
        </port>
    </service>
</definitions>